<!-- Curriculum de ejemplo -->
<!DOCTYPE html>
<html lang="es" class="estilo-1">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum 1</title>
    <link rel="stylesheet" href="style.css">
    
</head>

<body>
    <header class="cabecera">
        <img src="perfil.png" alt="Imagen de Perfil" class="img-1">
        <section class="titulo-cont">
            {{#IDB Datos 'NOM'}}
                <h1 class="titulo">{{Descripcion}}</h1>
            {{/IDB}}
            {{#IDB Datos 'DES'}}
                <span class="subtitulo">{{Descripcion}}</span>
            {{/IDB}}
        </section>
    </header>

    <nav class="lateral"> 
        
        <section>
            <article class="titulo-seccion">
                <span>Contacto</span>
            </article>
            <ul class="lista-1">    
                {{#IT-IFM Datos 'and' 'ID' '!=' 'NOM' 'ID' '!=' 'DES'}}
                    <li>
                        <span class="destacado">{{Nombre}}</span>
                        {{Descripcion}}
                        <br>
                    </li>
                {{/IT-IFM}}
            </ul>
        </section>
        <section>
            <article class="titulo-seccion">
                <span>Idiomas</span>
            </article>
            <ul class="lista-1">
                {{#IT Idiomas}}
                    <li>
                        <span class="destacado">{{Idioma}}</span>, 
                        {{Nivel}}
                        {{#if Centro}}
                            <br>
                            {{Centro}}
                        {{/if}}
                    <br>
                    </li>
                {{/IT}}
            </ul>
        </section>
    </nav>
    <main class="principal">
        <section class="seccion">
            <article class="titulo-seccion">
                <span>Formacion</span>
            </article>
            <ul class="lista-1">
            {{#IT Formacion }}
                <li>
                    <a
                    {{#if Link }}
                    href="{{Link}}"
                    {{/if}}
                    >{{Titulo}}</a>, {{Fecha_inicial}} / {{Fecha_fin}}
                    <br>
                    <!-- La funcion if por defecto de handlebars no permite el operador "and" por 
                    lo que es necesario un doble condiciona anidado-->
                    {{Centro}} {{#if Centro }} {{#if Ciudad }} - {{/if}} {{/if}} {{Ciudad}}
                    <br>
                </li>
            {{/IT}}
            </ul>
        </section>
        
        <section class="seccion">
            <article class="titulo-seccion">
                <span>Experiencia</span>
            </article>
            <ul class="lista-1">
            {{#IT Experiencia }}
                <li>
                    <a
                    {{#if Link }}
                    href="{{Link}}"
                    {{/if}}
                    >{{Empresa}}</a>, {{Fecha_inicial}} / {{Fecha_fin}}
                    <br>
                    <!-- La funcion if por defecto de handlebars no permite el operador "and" por 
                    lo que es necesario un doble condiciona anidado-->
                    {{Funcion}} {{#if Funcion }} {{#if Ciudad }} - {{/if}} {{/if}} {{Ciudad}}
                    <br>
                </li>
            {{/IT}}
            </ul>
        </section>
        <section class="seccion">
            <article class="titulo-seccion">
                <span>Habilidades</span>
            </article>
            <ul class="lista-1">
            {{#IT Habilidades}}
                <li>
                    <span class="destacado">{{Nombre}}</span> {{#if Descripcion}},{{/if}} {{Descripcion}}
                    <br>
                </li>
            {{/IT}}
            </ul>
        </section>
        <section class="seccion">
             <article class="titulo-seccion">
                <span>Adicional</span>
            </article>
            <ul class="lista-1">
            {{#IT Adicional}}
                <li>
                    <span class="destacado">{{Nombre}}</span> {{#if Descripcion}},{{/if}} {{Descripcion}}
                    <br>
                </li>
            {{/IT}}
            </ul>
        </section>
    </main>
</body>

</html>