<!-- Curriculum de ejemplo -->
<!DOCTYPE html>
<html lang="es" class="A4">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum 1</title>
    <link rel="stylesheet" href="style.css">
    
</head>

<body>
    <nav  class="lateral"> 
        <section class="header">Datos Personales</section>
        <img>
        <section class="especial-1">
            {{#IDB Datos 'NOM'}}
                <span class="destacado">{{Nombre}} </span>
                {{Descripcion}}  
            {{/IDB}}
        </section>
        <hr class="separador">
        <section>
            <ul class="lista-1">    
                {{#IT-IF Datos 'ID' '!=' 'NOM'}}
                    <li>
                        <span class="destacado">{{Nombre}}</span>
                        {{Descripcion}}
                        <br>
                    </li>
                {{/IT-IF}}
            </ul>
        </section>
        <hr class="separador">
        <section>
            <ul class="lista-1">
                {{#IT Idiomas}}
                    <li>
                        <span class="destacado">{{Idioma}}</span>, 
                        {{Nivel}}
                        {{#if Centro}}
                            <br>
                            {{Centro}}
                        {{/if}}
                    <br>
                    </li>
                {{/IT}}
            </ul>
        </section>
    </nav>
    <main class="principal">
        <section class="seccion">
            <h2>Formacion</h2>
            <ul class="lista-1">
            {{#IT Formacion }}
                <li>
                    <a
                    {{#if Link }}
                    href="{{Link}}"
                    {{/if}}
                    >{{Titulo}}</a>, {{Fecha_inicial}} / {{Fecha_fin}}
                    <br>
                    <!-- La funcion if por defecto de handlebars no permite el operador "and" por 
                    lo que es necesario un doble condiciona anidado-->
                    {{Centro}} {{#if Centro }} {{#if Ciudad }} - {{/if}} {{/if}} {{Ciudad}}
                    <br>
                </li>
            {{/IT}}
            </ul>
        </section>
        
        <section class="seccion">
            <h2>Experiencia</h2>
            <ul class="lista-1">
            {{#IT Experiencia }}
                <li>
                    <a
                    {{#if Link }}
                    href="{{Link}}"
                    {{/if}}
                    >{{Empresa}}</a>, {{Fecha_inicial}} / {{Fecha_fin}}
                    <br>
                    <!-- La funcion if por defecto de handlebars no permite el operador "and" por 
                    lo que es necesario un doble condiciona anidado-->
                    {{Funcion}} {{#if Funcion }} {{#if Ciudad }} - {{/if}} {{/if}} {{Ciudad}}
                    <br>
                </li>
            {{/IT}}
            </ul>
        </section>
        <section class="seccion">
            <h2>Habilidades</h2>
            <ul class="lista-1">
            {{#IT Habilidades}}
                <li>
                    <span class="destacado">{{Nombre}}</span> {{#if Descripcion}},{{/if}} {{Descripcion}}
                    <br>
                </li>
            {{/IT}}
            </ul>
        </section>
        <section class="seccion">
            <h2>Adicional</h2>
            <ul class="lista-1">
            {{#IT Adicional}}
                <li>
                    <span class="destacado">{{Nombre}}</span> {{#if Descripcion}},{{/if}} {{Descripcion}}
                    <br>
                </li>
            {{/IT}}
            </ul>
        </section>
    </main>
</body>

</html>